<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <title>{{pageType}}</title>
</head>

<body>
  <div id="background">
    {{>header}}
    <div id="body">
      <div id="404Block" style="width: inherit; height: inherit;display:flex;justify-content:center;align-items:center;">
        <div class="wrrap">
          <div class='404Description' style='width: inherit; text-align: center; color: #296e93; font-size: 6vh; font-family: Alata'>Page not found</div>
          <div id='404Text' style='width: inherit; text-align: center; color: #235f7f; font-size: 15vh; font-family: RobotoSlab'>404</div>
          <div class='404Description' style='width: inherit; text-align: center; color: #296e93; font-size: 2vh; font-family: Alata'>Sorry, the {{pageLoc}}page you were looking for could not be found.</div>
        </div>
      </div>
    </div>
    {{>footer}}
  </div>
  <script src="/js/JQuery.min.js"></script>
  <script type="text/javascript">
    if ('{{pageLoc}}' !== '') {
      $(document).ready(function() {
        $('#{{page}}').addClass('changedBackground')
      });
    }
  </script>
</body>

</html>
