<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <title>{{page}} page</title>
</head>

<body>
  <div id="background">
    {{>header}}
    <div id="body">
      <div class="center">
        <div class="content">
          <h1 id="weatherHeading" style="font-size: 10vh">Get</h1>
          <p class='description' id='weatherBottomDescription' style="font-size: 4vh">your weather and time</p>
          <form class="center">
            <input>
            <button>GET</button>
          </form>
          <div id="outputContainer" style='padding-top: 1vh'>
            <p class='description' id='weatherOutput' style="font-size: 2vh"></p>
            <p class='description' id='timeOutput' style="font-size: 2.5vh"></p>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </div>

  <script src="/js/JQuery.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#{{pageType}}').addClass('changedBackground')
  });
  </script>
  <script src="/js/app.js" charset="utf-8"></script>
</body>

</html>
