<footer>
  <div id="copyRight" onclick="ban()">
    &copy Async-devil <script type="text/javascript">
    var d = new Date();
    document.write(d.getFullYear());
    </script>
    <script type="text/javascript">
      function ban() {
        alert('You have been sent to gulag')
      }
    </script>
  </div>
</footer>
