<header class='container-fluid'>
  <div class="row">
    <div class="col" id='Main'>
      <div class="href">
        <a href="/">Main</a>
      </div>
    </div>
    <div class="col" id='About'>
      <div class="href">
        <a href="/about">About</a>
      </div>
    </div>
    <div class="col" id='Help'>
      <div class="href">
        <a href="/help">Help</a>
      </div>
    </div>
    <div class="col" id='App'>
      <div class="href">
        <a href="/app/weather">App</a>
      </div>
    </div>
  </div>
</header>
