* {
  margin : 0;
  padding: 0;
}
@font-face {
  font-family: RobotoSlab;

  src        : url('../fonts/RobotoSlab.ttf');
}
@font-face {
  font-family: Alata;

  src        : url('../fonts/Alata.ttf');
}

/* @media (max-width: 500px) {
  #indexHeading {
    font-size: 4px !important;
  }
} */

a:hover {
  -webkit-transition      : 1s ease-out;
  -moz-transition         : 1s ease-out;
  -o-transition           : 1s ease-out;
  transition              : 1s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition-delay   : 1s;
  -o-transition-delay     : 1s;
  transition-delay        : 1s;
}

body {
  /* #ebfbff */
  width           : 100%;
  height          : 100%;

  background-color: #d7f7ff;
}

#background {
  margin-right: 5vw;
  margin-left : 5vw;
}

header {
  width           : inherit;
  height          : 5vh;

  background-color: #296e93;
}

.container-fluid {
  padding: 0 !important;
}

.row {
  height: inherit;
  margin: 0 !important;
}

.col {
  display        : flex;
  align-items    : center;
  justify-content: center;

  width          : auto;
  height         : inherit;
  padding        : 0 !important;
}

header .href {
  text-align: center;
}

header a {
  text-decoration: none;

  color          : #fff;

  font-family    : RobotoSlab;
  font-size      : 3vh;
}

header a:hover {
  text-decoration: underline;
}

.changedBackground {
  background-color: #235f7f;
}

#body {
  width           : inherit;
  height          : 95vh;

  background-color: #ebfbff;

  font-family     : 'Alata';
}

.center {
  display:flex;
  align-items:center;
  justify-content:center;

  width: inherit;
  height: inherit;
}

h1 {
  width: inherit;
  margin: 0;

  text-align: center;

  color: #235f7f;

  font-family: RobotoSlab;
}

.description {
  width: inherit;

  text-align: center;

  color: #296e93;

  font-family: Alata;
}

input {
  display: inline-block;

  height: 5vh;

  color: #fff;
  border-color:#235f7f;
  border-radius: 0px;
  background-color: #296e93;

  font-size: 3vh;
}

form {
  height: 5vh;
  margin-top: 1vh;
}

button {
  width: 6vh;
  height: 5vh;
  margin-left: 0.5vh;
  padding: 0;

  color: #fff;
  border-color:#235f7f;
  border-radius: 0px;
  background-color: #296e93;

  font-size: 2vh;
}

footer {
  display         : flex;
  align-items     : center;
  justify-content : center;

  width           : inherit;
  height          : 5vh;

  background-color: #235f7f;
}

#copyRight {
  color      : #fff;

  font-family: Alata;
  font-size  : 2vh;
}
